div.control-group
  label.control-label(for="restaurant") Restaurant:
  div.controls
    input(type='text', id='restaurant', name='rating[restaurant]', value=rating.restaurant, style='width:400px')
div.control-group
  label.control-label(for="date") Date:
  div.controls
    input(type='text', id='date', name='rating[date]', value=rating.date, style='width:200px', readonly='true')
div.control-group
  label.control-label(for="reviewer") Reviewer:
  div.controls
    input(type='hidden', id='input-hiddenreviewer', name='rating[reviewer]', value=rating.reviewer)
    select(id="reviewer")
div.control-group
  label.control-label(for="rating") Rating:
  div.controls
    input(id="input-hiddenrating", type="hidden", name='rating[rating]', value=rating.rating)
    #div-mpaarating.btn-group(data-toggle="buttons-radio")
      button.btn.btn-primary.btn-small.btn-rating(type="button", value="A") A 
      button.btn.btn-primary.btn-small.btn-rating(type="button", value="B") B
      button.btn.btn-primary.btn-small.btn-rating(type="button", value="C") C
      button.btn.btn-primary.btn-small.btn-rating(type="button", value="D") D
      button.btn.btn-primary.btn-small.btn-rating(type="button", value="F") F      
      button.btn.btn-primary.btn-small.btn-rating(type="button", value="") None
div.control-group
  label.control-label(for="notes") Notes:
  div.controls
    input(id="input-hiddennotes", type="hidden", name='rating[notes]', value=rating.notes)
    #div-notes(contenteditable="true")